.search-form {
    display: flex;
    align-items: 50%;
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px 0 0 8px;
    border: 2px rgb(0, 0, 0);
 
  }
  
  .search-button {
    padding: 8px;
    font-size: 16px;
    background-color: #4285f4;
    color: white;
    border-radius: 0 8px 8px 0;
    border: none;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #357ae8;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 0 8px 8px 0;
}

.google-logo {
    margin-bottom: 5px;

}
.lucky-button {
 
    background-color: #404240;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 8px 8px 8px 8px;
    align-items: 50%;
  
}
.language{
    background-color: #404240;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 8px 8px 8px 8px;
     align-items: 50%;
}